
h1{
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

body {
  background-color: gainsboro;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  color:black;
  font-size: 48px;
  text-align: center;
  margin: 40px;
}